@model CartonBuilder.Web.ViewModels.CartonDeleteViewModel

@{
    ViewBag.Title = "Remove Carton";
}

<h2>@ViewBag.Title</h2>

<div>
    Verify the carton to be removed from inventory.
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Carton.CartonNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Carton.CartonNumber)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color" style="text-align: center;">
            <div style="padding-bottom: 20px;">
                <div style="color: red; font-size: 12pt; font-weight: bold;">Are you sure you want to delete this carton?</div>
                This action cannot be undone.
            </div>

            <input type="submit" value="Delete" class="btn btn-default" />
            <span class="glyphicon glyphicon-arrow-left" style="padding-left: 20px;"></span> @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
