@model CartonBuilder.Web.ViewModels.CartonIndexViewModel

@{
    ViewBag.Title = "Home";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add New Carton", "Create")
</p>

<table class="table">
    <tr>
        <th>
            Carton Number
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Cartons)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CartonNumber)
            </td>
            <td>
                @Html.RouteLink("Edit", "CartonOperation", new { cartonId = item.Id, action = "Edit" }) |
                @Html.RouteLink("Details", "CartonOperation", new { cartonId = item.Id, action = "Details" }) |
                @Html.RouteLink("Delete", "CartonOperation", new { cartonId = item.Id, action = "Delete" }) |
                @Html.RouteLink("View Available Equipment", "CartonOperation", new { cartonId = item.Id, action = "ListAvailableEquipment" }) |
                @Html.RouteLink("View Added Equipment", "CartonOperation", new { cartonId = item.Id, action = "ListAddedEquipment" })
            </td>
        </tr>
    }

</table>
