@model CartonBuilder.Web.ViewModels.CartonListAvailableEquipmentViewModel

@{
    ViewBag.Title = "Add Equipment";
    ViewBag.CartonLabel = Html.DisplayNameFor(model => model.Carton.CartonNumber)
                            + " "
                            + Html.DisplayFor(model => model.Carton.CartonNumber);
}

<h2>@ViewBag.CartonLabel &ndash; @ViewBag.Title</h2>

<div>
    <div style="padding-bottom: 10px;">
        Select equipment to add from the list of available items below.
    </div>

    <div style="text-align: right; padding-bottom: 10px;">
        <span class="glyphicon glyphicon-arrow-left"></span> @Html.RouteLink("Back to List", "Default", new { action = "Index" })
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentList.FirstOrDefault().ModelType.TypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EquipmentList.FirstOrDefault().SerialNumber)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.EquipmentList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelType.TypeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SerialNumber)
                </td>
                <td align="right" style="padding-right: 15px;">
                    <a href="@Url.RouteUrl("CartonOperationWithEquipment", new { cartonId = Model.Carton.Id, equipmentId = item.Id, action = "AddEquipment" })"
                       title="Add equipment to carton"><span class="glyphicon glyphicon-plus"></span></a>
                </td>
            </tr>
        }
    </table>

    <hr/>
    <div style="text-align: right;">
        <span class="glyphicon glyphicon-arrow-left"></span> @Html.RouteLink("Back to List", "Default", new { action = "Index" })
    </div>
</div>