@model CartonBuilder.Web.ViewModels.CartonListAvailableEquipmentViewModel

@{
    ViewBag.Title = "Carton Contents - Add Equipment";
}

<h2>@ViewBag.Title</h2>

<h3>@Html.DisplayFor(model => model.Carton.CartonNumber)</h3>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentList.FirstOrDefault().ModelType.TypeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EquipmentList.FirstOrDefault().SerialNumber)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.EquipmentList)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ModelType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.RouteLink("Add To Carton", "CartonOperationWithEquipment", new { cartonId = Model.Carton.Id, equipmentId = item.Id, action = "AddEquipment" })
            </td>
        </tr>
    }

</table>
